<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button type="button" color="success" (click)="login()">Login</ion-button>
    <ion-button type="button" color="primary" [routerLink]="['/criar-conta']">Create account</ion-button>
    <ion-button type="button"  color="warning"  [routerLink]="['/recuperar-senha']">I forgot my password</ion-button>
  
</ion-content>