<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-text>
      <h2 style="text-align:center;">Results</h2>
    </ion-text><br>
    <ion-text>
      <h5 value='this.resultadoIntervencao'>Intervention Group: {{ resultadoIntervencao }}</h5>
    </ion-text>
    <ion-text>
      <h5 value='this.resultadoComparativo'>Comparative group: {{ resultadoComparativo }}</h5>
    </ion-text><br>
    <ion-card>
      <ion-card-header>
        Risk of diabetes
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas style="position: relative; height:10px; width:10px"></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>