<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Create account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input type="text" [(ngModel)]="user.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Coren</ion-label>
    <ion-input type="text" [(ngModel)]="user.coren"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Username</ion-label>
    <ion-input type="text" [(ngModel)]="user.username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Repeat the password</ion-label>
    <ion-input type="password" [(ngModel)]="repeatPassword"></ion-input>
  </ion-item>

  <ion-button type="button" color="success" (click)="addAccount()">Save</ion-button>
  <ion-button type="button" color="danger" [routerLink]="['/login']">Cancel</ion-button>
</ion-content>