<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Create account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="addAccount()" [formGroup]="credentials">
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="text" placeholder="Nome" formControlName="nome"></ion-input>
      <ion-note slot="error" *ngIf="(nome.dirty || nome.touched) && nome.errors">Password needs to be 6 characters</ion-note>
    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="number" placeholder="Coren" formControlName="coren"></ion-input>
      <ion-note slot="error" *ngIf="(coren.dirty || coren.touched) && coren.errors">Password needs to be 6 characters</ion-note>
    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email is invalid</ion-note>
    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Password needs to be 6 characters</ion-note>
    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="password" placeholder="Repeat the password" formControlName="repeatedPassword"></ion-input>
      <ion-note slot="error" *ngIf="(repeatedPassword.dirty || repeatedPassword.touched) && repeatedPassword.errors">Password needs to be 6 characters</ion-note>
    </ion-item>
    <ion-button type="submit" [disabled]="!credentials.valid">Create account</ion-button>
    <ion-button type="button"  color="danger" [routerLink]="['/login']">Cancel</ion-button>
  </form>
</ion-content>