<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div *ngIf="paciente">
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="paciente.nome"></ion-input>
    </ion-item>
 
    <ion-item>
      <ion-label position="stacked">Coren</ion-label>
      <ion-input [(ngModel)]="paciente.coren"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Birth date</ion-label>
      <!--<ion-input type="date" [(ngModel)]="paciente.dataNascimento"></ion-input>-->
      <ion-input [(ngModel)]="paciente.dataNascimento"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Phone number</ion-label>
      <ion-input [(ngModel)]="paciente.telefone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="paciente.email"></ion-input>
    </ion-item>

  </div>
 
  <ion-button expand="block" color="success" (click)="atualizarPaciente()">
    <ion-icon name="save" slot="start"></ion-icon>
    Save
  </ion-button>
  <ion-button expand="block" color="danger" (click)="deletarPaciente()">
    <ion-icon name="trash" slot="start"></ion-icon>
    Delete
  </ion-button>
 
</ion-content>