<ion-header>
  <ion-toolbar color="primary">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Select the patient</ion-label>
      <ion-select placeholder="" [(ngModel)]="patient" (ionChange)="listLaunchs(patient)">
        <ion-select-option *ngFor="let patient of patients" [value]="patient.id" style="text-align: center">{{patient.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <br><br>
    <ion-item *ngIf="patient">
      <h3>Releases:</h3>
    </ion-item>
    <ion-item *ngFor="let launch of launchs" (click)="openLaunch(launch)">
      <ion-label>
        {{ launch.date }} 
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-card>
    <ion-card-header>
      History
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas style="position: relative; height:20vh; width:40vw"></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>
