<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dados pessoais</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Selecione o paciente</ion-label>
      <ion-select placeholder="" [(ngModel)]="paciente" (ionChange)="listarLancamentos(paciente)">
        <ion-select-option *ngFor="let paciente of pacientes" [value]="paciente.id" style="text-align: center">{{paciente.nome}}</ion-select-option>
      </ion-select>
    </ion-item>
    <br><br>
    <ion-item *ngIf="paciente">
      <h3>Lançamentos:</h3>
    </ion-item>
    <ion-item *ngFor="let lancamento of lancamentos" (click)="openLancamento(lancamento)">
      <ion-label>
        {{ lancamento.data }} 
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-card>
    <ion-card-header>
      Histórico
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas style="position: relative; height:20vh; width:40vw"></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>
