<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Forgot password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Old password*</ion-label>
      <ion-input name="oldPassword" [(ngModel)]="oldPassword" type="password"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">New password*</ion-label>
      <ion-input name="newPassword" [(ngModel)]="newPassword" type="password"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Confirm new password*</ion-label>
      <ion-input name="confirmNewPassword" [(ngModel)]="confirmNewPassword" type="password"> </ion-input>
    </ion-item>
  </ion-list>
  <ion-button type="submit" expand="block" color="success" (click)="updatePassword()">Change Password</ion-button>
</ion-content>