ion-content {
    --background: url('../../assets/fundo.jpg') no-repeat center center / cover;
  }
  
  .botaoIniciar{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .titulo{
    text-align: center;
    color: rgb(6, 5, 58);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 55px;
    font-style: italic;
  }
  
  .descricao{
    text-align: center;
    color: rgb(9, 7, 22);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 27px;
    font-style: bold;
  }
  
  .descricao2{
    text-align: justify;
    padding: 10px;
    color: rgb(13, 14, 12);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  }
  
  .botaoInfo{
     display: flex;
     justify-content: right;
     align-items: right;
   }