.conteudo {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #809efe, #5a7eee);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 40px 0 20px;
}

* {
  color: white;
}

.titulo {
  text-align: center;
  font-size: 2.5rem;

  strong {
    color: #fd568c;
  }
}

.subtitulo {
  margin-top: 10px;
  text-align: center;
  font-size: 1.4rem;
  font-style: bold;
}

.imagem-icone {
  display: block;
  max-width: 240px;
  margin: 0 auto;
}

.botoes {
  width: 100%;
  padding: 0 20px;
  text-align: center;
  display: flex;
  gap: 0px;
  flex-direction: column;

  ion-button {
    --background: white;
    color: #090b32;
    font-size: 1.5rem;

    &.ion-activated {
      --background-activated: #EBEBEB;
    }
  }

  ion-router-link {
    text-decoration: underline;
  }
}