<ion-content class="ion-no-padding">
  <div class="conteudo">
    <div class="cabecalho">
      <div class="titulo">
        Diabetes<strong>Check</strong>
      </div>

      <div class="subtitulo">
        An app for you to check <br>
        your diabetes risk <br>
      </div>
    </div>

    <img class="imagem-icone" src="../../assets/blood-test.png" />

    <div class="botoes">
      <ion-button shape="round" size="small" expand="block" [routerLink]="['/login']" routerDirection="forward">START
      </ion-button>
      <ion-router-link (click)="maisInfo()">More information</ion-router-link>
    </div>
  </div>
</ion-content>